.login-form
{
    width: 23%;
    display: inline-block;
    margin: 10%;
}
.register-form
{
    width: 25%;
    display: inline-block;
}
.header
{
    background-color: blueviolet;
    height: 50px;
    width: 100%;
}
.main
{
    width: 100%;
    display: flex;
}
.Middle{
    flex: 3;
}
.side-right{
    background-color: aqua;
    flex: 1;
}
.side-left
{
    background-color: yellow;
    flex: 1;
}
.posts #art-img 
{
    width: 100%;
    height: 100%;
}
.post-img
{
    width:100%;
    height: 80%;
}
.posts
{
    background-color: white;
    margin-top: 1%;
    border-bottom:solid black 1px;
}
.post-options #like:hover
{
    cursor: pointer;
}
.post-options
{
    padding: 5px;
}
.user-info
{
    display: flex;
}
.user-prof
{
    width: 5%;
    border-radius: 50%;
    padding: 5px;
}
.user-prof img 
{
    width: 100%;
}
.user-info h6 
{
    width:25%;
    margin-top: 1%;
}
.comments button
{
    margin-top: 1%;
    margin-bottom: 1%;
}
.post-caption
{
    padding: 2px;
}